/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #6DA2B8;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px; /* Navbarın kenar boşluklarını ayarlayabilirsiniz */
  height: 100px; /* Ayarlamak istediğiniz navbar yüksekliği */
  z-index: 1;
  transition: top 0.3s; /* Yeni eklenen geçiş efekti*/
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 80px; /* Ayarlamak istediğiniz logo yüksekliği */
}

.navbar .vertical-line {
  width: 1px;
  height: 75px; /* Ayarlamak istediğiniz çizgi uzunluğu */
  background-color: white;
  margin: 0 20px; /* İki logonun arasındaki boşluğu ayarlayabilirsiniz */
}

.navbar .navbar-text {
  font-size: 2.0em; /* Ayarlamak istediğiniz başlık yazısı boyutu */
  margin-left: 30px; /* İkinci logodan sonraki boşluğu ayarlayabilirsiniz */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

/* Content */
/* #FIXME: Burayı tekrar gözden geçir*/
.container {
  margin: 120px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(79,116,132,255);
  padding: 20px;
  margin: 20px;
  width: 1000px;
  height: 189px;
}

.box h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* Bu kisimda table kullan, css degis */
.table-header {
  display: flex;
  flex-wrap: wrap;
  background-color: #aaa;
}

.cell {
  flex: 1 0 auto;
  min-width: 100px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;
}


/* File input */
/* Dosya seçim kutusu stilleri */
.file-select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  height: 200px;
}

.file-select-box:hover {
  border-color: #aaa;
}

.file-select-box .instructions {
  width: 50%;
  margin-right: 20px;
}

.file-select-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.file-select-box p {
  font-size: 16px;
}

.file-select-box .drag-text {
  font-size: 14px;
  color: #666;
}

.file-select-box .drag-box {
  width: 40%;
  height: 100%;
  border: 2px dashed #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-select-box .drag-box.active {
  border-color: #aaa;
}

.file-select-box .drag-box.highlight {
  background-color: #f7f7f7;
}

.file-select-box .drag-box.highlight i {
  color: #aaa;
}

.file-select-box .drag-box i {
  font-size: 48px;
  color: #ccc;
}

/* Dosya seç butonu stilleri */
.file-input-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.file-input-container label {
  font-size: 16px;
  margin-bottom: 10px;
}

.file-input-container input[type="file"] {
  display: none;
}

.file-input-container .file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  width: 100%;
}

.file-input input[type=file] {
  position: absolute;
  font-size: 100px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.browse-btn {
  width: 20%;
  margin-top: 2px;
  display: block;
  padding: 10px;
  font-size: 80px;
  text-align: center;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 2px;
  cursor: pointer;
}

.browse-btn:hover {
  background-color: #ccc;
  
}

.upload-btn {
  width: 80%;
  display: block;
  padding: 10px;
  background: #06557C;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.upload-btn:hover {
  background-color: #6DA2B8;
}

.drag-text {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.drag-drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
}

.drag-enter {
  background-color: #cfcfcf;
}

/* Model Function textarea styles */
.model-function-container {
  margin-top: 20px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  justify-content: space-between;
}

.model-function-container textarea {
  width: 97%;
  height: 200px;
  padding: 10px;
  font-size: 14px;
  resize: none;
  margin-bottom: 10px;
}

.calculate-btn {
  padding: 10px 20px;
  background: #06557C;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calculate-btn:hover {
  background-color: #6DA2B8;
}

/* Choose Options Field Styles */

.option {
  margin-bottom: 10px;
}

.option label {
  display: inline-block;
  width: 200px;
}

.option select,
.option input[type="text"],
.option input[type="number"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-btn-box {
  position: relative;
}

.add-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #06557C;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.add-btn:before {
  /*content: "\2713";  Unicode karakteri olan tik işareti */
  margin-right: 5px;
}

.add-btn:hover{
  background-color: #6DA2B8;
}

/* Choose Output Graphs Styles */

.graph-type-container {
  display: flex;
  flex-direction: column;
}

.graph-type-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.switch {
  display: none;
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  height: 26px;
  border-radius: 13px;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  left: 10px;
}

.switch-label:before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  top: 2px;
  left: 2px;
  transition: left 0.3s;
}

.switch:checked + .switch-label {
  background-color: #06557C;
}

.switch:checked + .switch-label:before {
  left: calc(100% - 24px);
}

.switch-label:active:before {
  width: 28px;
}

.switch-label span {
  font-size: 14px;
  margin-left: 5px;
  line-height: 1;
  
}

/* Run Computation Button */
.btn-container {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.run-computation-btn {
  height: 50px;
  width: 50%;
  background-color: #06557C;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}

.run-computation-btn:hover {
  background-color: #fff;
  color: #06557C;
  border: 2px solid #06557C;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 50px; /* Footer yüksekliği kadar içeriğin altına boşluk bırakır */
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ccc;
}

.left-logo img {
  width: 80px; /* Sol logo için genişlik */
}

.right-logos {
  display: flex;
  align-items: center;
}

.right-logos img {
  width: 80px; /* Sağ logolar için genişlik */
}

.vertical-line {
  width: 1px;
  height: 30px;
  background-color: black;
  margin: 0 10px;
}
